macos-icon = glass
window-width = 108
window-height = 32
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true

font-family = "JetBrains Mono Nerd Font"
font-size = 18
# macOS only
font-thicken = true

theme = "GitHub Dark High Contrast"
background-opacity = 0.9
background-blur = macos-glass-clear
bold-color = bright

window-inherit-working-directory = false
tab-inherit-working-directory = false
split-inherit-working-directory = true

cursor-click-to-move = true
cursor-style = bar
adjust-cursor-thickness = 3
mouse-hide-while-typing = true
scrollback-limit = 1073741824
