maximize = true
window-decoration = none
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true

font-family = "JetBrains Mono Nerd Font"
font-size = 16

theme = "GitHub Dark High Contrast"
background-opacity = 0.96
bold-color = bright

window-inherit-working-directory = false

cursor-click-to-move = true
cursor-style = bar
adjust-cursor-thickness = 3
mouse-hide-while-typing = true
scrollback-limit = 1073741824
