maximize = true
window-decoration = none
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true

font-family = "JetBrains Mono Nerd Font"
font-size = 16

theme = "GitHub Dark High Contrast"
background-opacity = 0.9
bold-color = bright

window-inherit-working-directory = false
tab-inherit-working-directory = false
split-inherit-working-directory = true

cursor-click-to-move = true
cursor-style = bar
adjust-cursor-thickness = 3
mouse-hide-while-typing = true
scrollback-limit = 1073741824

notify-on-command-finish = unfocused
notify-on-command-finish-action = bell,notify
notify-on-command-finish-after = 10s
